<h3>{{ plat }} interesse quelqu'un !</h3>

Bonjour {{ vendeur }}! <br>

{{ acheteur }} souhaite partager votre repas ("{{ plat }}") avec vous. <br>
N'attendez plus et cliquer sur le lien ci-dessous pour accepter ou refuser sa demande <br>


Thanks!