{% extends "base.html.twig" %}


{% block body %}
    <div style="height: 675px;" class="parallax-container">
        <div class="parallax "><img src="{{ asset('background.jpg') }}" alt="Unsplashed background img 2"
                                    style="filter: blur(3px);"></div>
        <br><br><br><br><br><br><br>
        <div class="section">
            <div class="row">
                <div class="container center">
                    <h1 class="header center teal-text">Manger Mieux !</h1>
                    <br>
                    <div class="row center">
                        <h5 class="header light white-text container">Trouve ou propose aux étudiants de ton
                            université des repas
                            sains
                            et équilibrés à un coût abordable !</h5>
                    </div>
                    <br>
                    <div class="row center">
                        <a href="{{ path('menu') }}" id="download-button"
                           class="btn-large waves-effect waves-light teal lighten-1">Consulter nos plats</a>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    </div>

    <div class="section grey lighten-2">
        <br><br>
        <h4 class="center">Les bon plats du moment !</h4>
        <br><br><br><br>
        <div class="container ">
            <div class="carousel carousel-slider center" data-indicators="true">

                <div class="carousel-item blue white-text" href="#one!">
                    <h2>Pâtes à la carbonara</h2>

                    <p class="white-text container">Les pâtes à la carbonara est un plat traditionnel italien. La recette 100% italienne ne veut pas que l'on ajoute de crème fraîche, habitude typiquement française. Découvrez donc la recette en pas à pas pour cuisiner des pâtes à la carbonara comme une vraie Mamma Italienne !</p>
                    <p class='corps'><i class="tiny material-icons ">timer</i>24-Mar-18 09:03</p>
                    <a class="btn waves-effect white grey-text darken-text-2">Commander</a>

                </div>
                <div class="carousel-item amber white-text" href="#two!">


                    <h2>Curry de poulet</h2>

                    <p class="white-text container">n curry de poulet au lait de coco idéal en automne et hiver !</p>
                    <p class='corps'><i class="tiny material-icons ">timer</i>24-Mar-18 09:03</p>
                    <a class="btn waves-effect white grey-text darken-text-2">Commander</a>


                </div>
                <div class="carousel-item green white-text" href="#three!">
                    <h2>Risotto balls</h2>

                    <p class="white-text container">Des risotto balls sont aussi appelés arrancini en Italie, ce sont des boulettes de risotto frites.</p>
                    <p class='corps'><i class="tiny material-icons ">timer</i>24-Mar-18 09:03</p>
                    <a class="btn waves-effect white grey-text darken-text-2">Commander</a>
                </div>
                <div class="carousel-item blue white-text" href="#four!">
                    <h2>Potatoes Maison</h2>

                    <p class="white-text container">Les enfants sont fans de fastfood mais nous beaucoup moins... sauf si c'est fait maison !</p>
                    <p class='corps'><i class="tiny material-icons ">timer</i>24-Mar-18 09:03</p>
                    <a class="btn waves-effect white grey-text darken-text-2">Commander</a>
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>




    <div id="tuto" class="container">
        <br><br><br><br><br>

        <h3 class="light center">Comment ça fonctionne ?</h3>
        <br><br>
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons medium">search</i></h2>
                        <h5 class="center">Choisis ton plat!</h5>

                        <p class="light center">De délicieux bons plans partagés entre étudiants de ton université !</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons medium">directions_run</i></h2>
                        <h5 class="center">Commande-le !</h5>

                        <p class="light center">C'est rapide et simple, il n'y en aura pas pour tout le monde !</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons medium">group</i></h2>
                        <h5 class="center">Récupère-le !</h5>

                        <p class="light center">Contacte le préparateur de ton repas, puis régale toi et fait de nouvelle
                            rencontres !</p>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('.carousel.carousel-slider').carousel({fullWidth: true});
                $('.parallax').parallax();
            });
        </script>
    {% endblock %}
{% endblock %}