<div class=" waves-effect waves-light btn light">
    <a href="{{ path('plats_confirm', { 'id': reservation.id }) }}">Accepter</a>
</div>
<div class=" waves-effect waves-light btn light">
    <a href="{{ path('plats_annuler', { 'id': reservation.id }) }}">Annuler la commande</a>
</div>
