{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <br><br>
    <div class="row center">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
            <div id="desc" class="container">
                <h5 class="light">Inscription</h5>
                <br>
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}
                    <br>
                <a class="waves-effect waves-light btn social facebook ">
                    <i class="fa fa-facebook"></i> S'inscrire avec facebook</a>

                    <div class=" waves-effect waves-light btn light">
                        <input type="submit" value="{{ 'registration.submit'|trans }}"/>
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>

    </div>
    <br><br><br><br>

{% endblock fos_user_content %}

